body{
    background: #000;
    color: #c2c2c2;
    font-size: 14px;
}

.nombre{
    background-color: #f2f2f2;
}

#logo{
    height: 200px;
}

nav ul li a{
    color: red;
}

nav ul li a:hover{
    background: #c2c2c2;
    display: block;
    width: 200px;
}