body{
    background: #000;
    color: #c2c2c2;
    font-size: 14px;
}


.menu ul div{
    display: inline;
}



.menu ul li{
    float: right;
    
}




.nombre{
    background-color: #f2f2f2;
}



nav ul li a{
    color: red;
}

nav ul li a:hover{
    background: #c2c2c2;
    display: block;
    width: 200px;
}  